.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerOfProducts {
    min-width: 475px;
}
.containerProduct {
    background-color: rgb(207, 225, 202);
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 12px;

}
.eliminateProduct {
    background: transparent;
    padding: 0;
    font-size: large;
    border: none;
}
/* .totalProducts {
    font-size: 24px;
    font-weight: bold;
} */
 .checkoutButton {
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
 }
 .emptyCart {
    background-color: rgb(207, 225, 202);
    width: 100%;
   
    text-align: center;
    
    padding: 8px;
    border-radius: 8px;
    
 }

 @media (max-width: 490px) {
    .container{
        width: 600px;
    }
    .containerOfProducts {
        margin: 0 auto;
    }  
}