.container {
    display: grid;
    margin: 100px 0;
    
}
.answer {
    
    place-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.text {
    margin-top: 0;
    font-size: 80px;
    color: rgb(98, 160, 79);
}
.button {
    background-color: rgb(98, 160, 79);
    border: solid 1px whitesmoke;
    border-radius: 8px;
    padding: 12px;
    width: auto;
    font-size: 16px;
    font-weight: bolder;
    color: whitesmoke;
    border: none;
}
.buttonInActive {
    background-color: rgb(209, 153, 153);
    border: solid 1px gray;
    border-radius: 8px;
    padding: 12px;
    width: auto;
    font-size: 16px;
    font-weight: bolder;
    color: whitesmoke;
    border: none;
}
.GoBackButton {
    border: solid 1px gray;
    border-radius: 8px;
    padding: 12px;
    width: auto;
    font-size: 16px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    border: none;
}