.cancel{
    width: 700px;
  margin: auto;
  margin-top: 60px;
    background-color: #dcdcdc;
    padding: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .cancel .icon {
     color: rgb(250, 6, 6);
     font-size: 40px;
  }
  .cancel h2{
    text-transform: capitalize;
    margin: 0;
    font-weight: 900;
    font-size: 40px;
    color:#324d67;
  }
 
  .cancel p{
    font-size: 20px;
    font-weight: 600;
  }
 

  .button {
    background-color: rgb(98, 160, 79);
    color: whitesmoke; 
    font-weight: bolder;
    padding: 8px;
    border-radius: 8px;
    margin: 20px;  
    cursor: pointer;   
    border: none;
     
}
.button:hover {
  background-color: rgb(209, 153, 153);
}



@media (max-width:800px) {
  
  .cancelWrapper{
    height: 69vh;
    width: 790px;
  }
 .cancel {
  margin-top: 100px;
  padding: 20px;
  height: 350px;
}

.cancel h2{
  font-size: 30px;
}
.button {
  font-size: 24px;
}


}
