.navbar{
    width: auto;
}
.navbarItems{
    display: flex;
    justify-content: space-between;
}

.title {
    
    font-size: 30px;
    list-style: none;
}
.basket {
    list-style: none;
}
.basket a {
    text-decoration: none;
}
.title a {
    text-decoration: none;
    color: rgb(98, 160, 79);
}
.logo {
    margin-bottom: -10px;
}
@media (max-width: 600px) {
    .navbar {
        width: 800px; 
    }  
    .title a {
        font-size: 40px;
    } 
    .basket a {
        font-size: 30px;
    }
    .logo {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 490px) {
    .navbar {
        width: 800px; 
    }  
    .title a {
        font-size: 50px;
    } 
    .basket a {
        font-size: 40px;
    }
    .logo {
        width: 60px;
        height: 60px;
    }  
}