.navbar{
    width: 95%;
}
.navbarItems{
    display: flex;
    justify-content: space-between;
}

.title {
    
    font-size: 30px;
    list-style: none;
}
.basket {
    list-style: none;
}
.basket a {
    text-decoration: none;
}
.title a {
    text-decoration: none;
    color: rgb(98, 160, 79);
}
.logo {
    margin-bottom: -10px;
}

@media (max-width: 490px) {
    .navbar {
        width: 430px;
    }    
}