.containerProduct {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    
}
.containerProductInfo {
    grid-column: 2 ;
    grid-row: 1/2;
    text-align: center;
}
.containerProductInfo h3 {
    font-size: 28px;
}
.input {
padding: 8px;
font-weight: bold;
border-radius: 8px;
margin-right: 12px;

}
.button {
    background-color: rgb(98, 160, 79);
    color: whitesmoke; 
    font-weight: bolder;
    padding: 8px;
    border-radius: 8px;   
     
}
.table {
    border-collapse: collapse;
    font-size: 20px;
    border-style: solid;
    margin: 0 auto;
    max-width: 700px;
    max-width: 500px;


}
.table > thead  {
   
background-color: rgb(98, 160, 79);
  color: whitesmoke;  
}

.tr {
    border-style: solid;

    }
    .td {
        border: solid;
        padding: 8px;
    }
    .tRight {
        padding: 8px;
    }
   @media (max-width: 700px) {
    .containerProduct {
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        
    }
   } 