.container{
    display: grid;
}
.containerProduct {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: auto auto;
    justify-content: center;
    justify-self: center;
    
}
.containerProductInfo {
    grid-column: 2 ;
    grid-row: 1/2;
    text-align: center;
}
.containerProductInfo h3 {
    font-size: 28px;
}
.input {
padding: 8px;
font-weight: bold;
border-radius: 8px;
margin-right: 12px;

}
.button {
    background-color: rgb(98, 160, 79);
    color: whitesmoke; 
    font-weight: bolder;
    padding: 8px;
    border-radius: 8px;
    margin: 20px ;     
    cursor: pointer;
    border: none;
}
.buttonActive {
    background-color: rgb(209, 153, 153);
    color: whitesmoke; 
    margin: 0 20px ; 
    font-weight: bolder;
    padding: 8px;
    border-radius: 8px;   
    border: none;
}
.checkoutButton {
    background-color: rgb(144, 80, 31);
    color: whitesmoke; 
    font-weight: bolder;
    padding: 8px;
    border-radius: 8px;
    margin: 20px auto;     
    text-decoration: none;
    border: none;
}
.checkoutButton:hover {
    background-color: rgb(219, 135, 75);
}
.table {
    border-collapse: collapse;
    font-size: 20px;
    border-style: solid;
    margin: 0 auto;
    max-width: 700px;
    max-width: 500px;


}
.table > thead  {
   
background-color: rgb(98, 160, 79);
  color: whitesmoke;  
}

.tr {
    border-style: solid;

    }
    .td {
        border: solid;
        padding: 8px;
    }
    .tRight {
        padding: 8px;
    }
   @media (max-width: 700px) {
    .container{
        width: 600px;
        padding: 0 20px;
    }
    .containerProduct {
        justify-self: center;
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        
    }
    .containerProduct img {
        margin: 0 auto;
    }
    
   } 